/**** start default theme ****/

.navbar-brand span,
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span{
    color: #ec3131;
}
/*Active link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box  .gear-check{
    background-color: #ec3131;
}

/*dropdown*/
.dropdown-menu{

    border-top: 3px solid #ec3131;

}

.option-box .color-option,
.testimonials .carousel-indicators li.active{
    border: 2px solid #ec3131;
}


/**** end default theme ****/